<md-toolbar>
    <h2 class="md-toolbar-tools">Announcements</h2>
</md-toolbar>
<md-content layout-padding ng-controller="AnnouncementController as AnnounceCtrl">
    <div layout="row" layout-padding layout-align="space-between center">
        <h3>Announcement List</h3>
        <md-button ng-click="AnnounceCtrl.showAddDialog($event)" class="md-raised md-primary">
            Add Announcement
        </md-button>
    </div>
    <ul>
        <li ng-repeat="item in AnnounceCtrl.items">
            <h3 ng-bind="item.title"></h3>
            <p ng-bind="item.description"></p>
            <md-button ng-click="AnnounceCtrl.deleteItem(item.id,$index,$event)">Delete</md-button>
        </li>
    </ul>
</md-content>
<script type="text/ng-template" id="addannouncement.tmpl.html">
    <md-dialog aria-label="Add Announcement">
      <md-content>
        <md-subheader class="md-sticky-no-effect">Add Announcement</md-subheader>
        <md-input-container>
            <label>Title</label>
            <input type="text" ng-model="AddAnnounce.title">
        </md-input-container>
        <md-input-container>
            <label>Description</label>
            <textarea ng-model="AddAnnounce.description"></textarea>
        </md-input-container>
        <md-button ng-click="AddAnnounce.addAnnouncement()">Add Announcement</md-button>
      </md-content>
    </md-dialog>
</script>